<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:p="http://www.springframework.org/schema/p"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
       http://www.springframework.org/schema/beans/spring-beans.xsd">
    <!--    This is our bean-->
    <bean name="student1" class="com.springcore.Student">
        <property name="studentId" value="01"/>
        <property name="studentName" value="Rutvik Jasani"/>
        <property name="studentAddress" value="B-96, Tirupati Society"/>

        <!--        We use upper manner as well as lower manner(Both are working same)-->

        <!--        <property name="studentId">-->
        <!--            <value>01</value>-->
        <!--        </property>-->
        <!--        <property name="studentName">-->
        <!--            <value>Rutvik Jasani</value>-->
        <!--        </property>-->
        <!--        <property name="studentAddress">-->
        <!--            <value>B-96, Tirupati Society</value>-->
        <!--        </property>-->
    </bean>

    <!--    Second bean with p schema declaration-->
    <bean class="com.springcore.Student" name="student2" p:studentId="02"
          p:studentName="std 2"
          p:studentAddress="123 Yogi chowk "/>

</beans>
